<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>GymProgress | Catàleg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/dashboard">
                <img src="{{ url_for('static', filename='img/gymprogress_logo.png') }}" alt="GymProgress Logo" class="logo-img">
            </a>
        </div>
        
        <nav>
            <a href="/dashboard">DASHBOARD</a>
            <a href="/logout">SORTIR</a>
        </nav>
    </header>

    <main>
        <h2>Catàleg d'Exercicis</h2>
        {% for ex in exercicis %}
        <div class="card">
            <h3 style="color: var(--groc); margin: 0;">{{ ex.nom }}</h3>
            <p style="font-size: 0.8rem; color: #888; text-transform: uppercase;">{{ ex.grup_muscular }}</p>
            <p style="font-size: 0.9rem;">{{ ex.descripcio }}</p>
        </div>
        {% endfor %}
    </main>
</body>
</html>